@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-color: #E2F6FC;
  background-image: linear-gradient( #E2F6FC 0%, #FFFFFF 80%);
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  min-height: 100vh;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
.main {
  margin: 0 75px;
}

/* ***************************************** Navbar ********************************************** */
.navbar-cs {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 75px;
  max-width: 98%;
  font-family: 'Poppins', 'sans-serif';
  overflow-x: hidden;
}

.nav-header {
  flex: 1;
}
.nav-menu {
  flex: 1;
}
.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.nav-link {
  flex: 1;
  color: rgb(27, 27, 27);
  font-weight: 100;
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(27, 167, 231);
}
.sign-up {
  flex: 1;
  display: flex;
  justify-content: end;
}
.sign-up .btn {
  color: #FFFFFF;
  height: 2.5rem;
  width: 8rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(241, 149, 10);
  transition: all .3s ease-in-out;
}
.sign-up .btn:hover {
  color: #000;
  background-color: #FFFFFF;
  border: 1px solid #000;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.deco {
  color: rgb(27, 27, 27);
  font-weight: 900;
  text-decoration: none;
  pointer-events: none;
}

/* ***************************************** Intro ********************************************** */
.intro {
  display: flex;
  flex-flow: row nowrap;
}
.intro-text {
  flex: 1;
  padding: 50px 0;
}
.intro-text .intro-h1 {
  font-size: 26px;
}
.intro-text .intro-subtext {
  font-size: 18px;
}
.intro-image {
  flex: 1;
}
.istore {
  margin: auto 10px auto auto;
}
.playstore {
  margin: auto auto auto 10px;
}
